In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import pandas as pd
from pathlib import Path
#import tensorflow as tf

# Import our input dataset
data = Path('./Data/merged_clean_3Years_df.csv')
original_df = pd.read_csv(data)
original_df

,reportedcity,dateofloss,elevationdifference,floodzone,latitude,longitude,numberoffloorsintheinsuredbuilding,occupancytype,originalconstructiondate,amountpaidonbuildingclaim,...,reportedzipcode,stns,obs,pred,stn_lat,stn_lon,new_date_column,geometry,rolling_2days_obs,rolling_7days_obs
0,NO CHATHAM,2/21/2015,999,AE,41.7,-70.0,3,1,1/1/1955,2618.18,...,2650,14281,0.38,0.000000,41.6875,-69.9933,2/21/2015,POINT (-69.9933 41.6875),3.800000e-01,1.680000e+00
1,NEW BRAUNFELS,10/30/2015,2,AE,29.7,-98.1,3,1,12/2/2003,3309.59,...,78130,526,10.62,9.319764,29.7221,-98.1311,10/30/2015,POINT (-98.1311 29.7221),1.062000e+01,2.208000e+01
2,NEW BRAUNFELS,10/30/2015,7,AE,29.7,-98.1,2,1,7/1/2003,0.00,...,78130,526,10.62,9.319764,29.7221,-98.1311,10/30/2015,POINT (-98.1311 29.7221),1.062000e+01,2.208000e+01
3,NEW BRAUNFELS,10/30/2015,0,C,29.7,-98.1,3,1,10/17/1998,67301.33,...,78132,526,10.62,9.319764,29.7221,-98.1311,10/30/2015,POINT (-98.1311 29.7221),1.062000e+01,2.208000e+01
4,NEW BRAUNFELS,10/30/2015,999,C,29.7,-98.1,3,3,7/1/1995,0.00,...,78130,526,10.62,9.319764,29.7221,-98.1311,10/30/2015,POINT (-98.1311 29.7221),1.062000e+01,2.208000e+01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75656,HAMMOND,4/11/2014,999,A,44.5,-75.6,2,1,1/1/1976,0.00,...,13646,17787,0.00,0.000000,44.3768,-69.2616,4/11/2014,POINT (-69.2616 44.3768),8.220000e-13,1.120000e+00
75657,ARVERNE,1/8/2014,999,A05,40.6,-73.8,3,1,1/1/1920,0.00,...,11692,14209,0.10,0.343227,42.5420,-123.4260,1/8/2014,POINT (-123.426 42.542),4.600000e-01,4.600000e-01
75658,YORKTOWN HTS,6/8/2013,999,X,41.3,-73.8,4,1,4/1/1968,3198.97,...,10598,14262,8.64,6.556328,41.2664,-73.7975,6/8/2013,POINT (-73.7975 41.2664),1.042000e+01,1.205000e+01
75659,MC GREGOR,10/26/2013,999,X,31.5,-97.3,1,1,6/28/2000,12654.47,...,76657,1561,0.00,0.000000,30.6081,-97.0317,10/26/2013,POINT (-97.0317 30.6081),-2.410000e-14,1.110000e-13
75660,BROOKLYN,3/24/2013,999,X,40.6,-74.0,2,2,1/1/1931,4022.79,...,11204,14149,0.00,NaN,40.5003,-75.2044,3/24/2013,POINT (-75.20440000000001 40.5003),2.900000e-13,5.000000e-02

In [161]:
#cleaning up last7_df
df = original_df.copy()

df["rolling_7days_obs"] = df["rolling_7days_obs"].round(2)


#convert date columns to datetime64[ns] 
df['dateofloss'] =  pd.to_datetime(df['dateofloss'], format='%m/%d/%Y', errors='ignore')
df["originalconstructiondate"] = df["originalconstructiondate"].apply(pd.to_datetime)
#df['originalconstructiondate'] =  pd.to_datetime(df['originalconstructiondate'], format='%m/%d/%Y', errors='ignore')

#merged_df.dtypes
#split the dates into sperate columns for dd, mm and yyyy
#split date of loss
df[['lossyear','lossmonth','lossday']] = df.dateofloss.apply(lambda x: pd.Series(x.strftime("%Y,%m,%d").split(",")))

#split original construction date
df[['builtyear','builtmonth','builtday']] = df.originalconstructiondate.apply(lambda x: pd.Series(x.strftime("%Y,%m,%d").split(",")))


#convert split columns to floats
df['lossyear'] = df['lossyear'].astype(float)
df['lossmonth'] = df['lossmonth'].astype(float)
df['builtyear'] = df['builtyear'].astype(float)

#age of the property at the time of loss
df['propertyage'] = df['lossyear'] - df['builtyear'] 


df["Payoff_Bin"] = pd.cut(df.amountpaidonbuildingclaim, bins=[100,1000,5000,10000,50000,3000000], include_lowest=True, labels=["100-1000","1001-5000","5001-10000","10001-50000","50000+"])
#df["Payoff_Bin"] = pd.cut(df.amountpaidonbuildingclaim, bins=[0,5000,10000,20000,30000,50000,100000,200000,3000000], include_lowest=True, labels=["0-100","101-5000","5001-10000","10001-20000","20001-30000","30001-50000","50001-100000","100001-200000","200000+"])

In [115]:
# df_2015 = df.copy()

# indexNames = df_2015[df_2015['lossyear'] < 2015 ].index
 
# # Delete these row indexes from dataFrame
# df_2015.drop(indexNames , inplace=True)

In [5]:
#df_2015.dtypes

In [116]:
# df = df_2015.copy()

In [162]:

#df_encoded["rolling_7days_obs"] = original_df["rolling_7days_obs"]
indexNames = df[df['amountpaidonbuildingclaim'] < 100.0].index
 
#  # Delete these row indexes from dataFrame
df.drop(indexNames , inplace=True)

df.amountpaidonbuildingclaim.min()

100.0

In [163]:
#keeping chosen features and dropping all other columns from merged data

df = df.drop("amountpaidonbuildingclaim", axis=1)
#df = df.drop("Payoff_Bin", axis=1)
df = df.drop("dateofloss", axis=1)
df = df.drop("elevationdifference", axis=1)
df = df.drop("latitude", axis=1)
df = df.drop("longitude", axis=1)
df = df.drop("numberoffloorsintheinsuredbuilding", axis=1)
df = df.drop("originalconstructiondate", axis=1)
df = df.drop("reportedcity", axis=1)
df = df.drop("lossyear", axis=1)
df = df.drop("lossday", axis=1)
df = df.drop("builtyear", axis=1)
df = df.drop("builtmonth", axis=1)
df = df.drop("builtday", axis=1)
df = df.drop("stn_lat", axis=1)
df = df.drop("stn_lon", axis=1)
df = df.drop("geometry", axis=1)
df = df.drop("new_date_column", axis=1)
df = df.drop("rolling_2days_obs", axis=1)
#df = df.drop("state", axis=1)
#df = df.drop("lossmonth", axis=1)
#df = df.drop("occupancytype", axis=1)
df = df.drop("rolling_7days_obs", axis=1)

#dropping columns that might be providing redundant information
df = df.drop("obs", axis=1)
df = df.drop("pred", axis=1)
df = df.drop("stns", axis=1)


#df.head(3)
df_encoded = pd.get_dummies(df, columns=["floodzone", "lossmonth", "occupancytype", "state"])
#df_encoded = pd.get_dummies(df, columns=["floodzone", "occupancytype", "lossmonth", "state"])

In [164]:
df.head(3)

,floodzone,occupancytype,state,reportedzipcode,lossmonth,propertyage,Payoff_Bin
0,AE,1,MA,2650,2.0,60.0,1001-5000
1,AE,1,TX,78130,10.0,12.0,1001-5000
3,C,1,TX,78132,10.0,17.0,50000+

In [9]:
# import matplotlib.pyplot as plt
# #generating a correlation matrix
# corrMatrix = df.corr()
# import seaborn as sn
# fig, ax = plt.subplots(figsize=(8,8)) 

# sn.heatmap(corrMatrix, annot=True, ax = ax)

In [165]:
#combining common floodzones
filter_zones_A = [col for col in df_encoded if col.startswith('floodzone_A')]
filter_zones_V = [col for col in df_encoded if col.startswith('floodzone_V')]

df_encoded["Zone A"] = df_encoded[filter_zones_A].sum(axis = 1, skipna = True)
df_encoded["Zone V"] = df_encoded[filter_zones_V].sum(axis = 1, skipna = True) 

df_encoded.rename(columns={"Zone A": "floodzone_A", "Zone V": "floodzone_V"})

,reportedzipcode,propertyage,Payoff_Bin,floodzone_A,floodzone_A01,floodzone_A02,floodzone_A03,floodzone_A04,floodzone_A05,floodzone_A06,...,state_UT,state_VA,state_VI,state_VT,state_WA,state_WI,state_WV,state_WY,floodzone_A,floodzone_V
0,2650,60.0,1001-5000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,78130,12.0,1001-5000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,78132,17.0,50000+,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,78130,13.0,50000+,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,78130,32.0,10001-50000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75652,29510,10.0,50000+,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
75654,31906,42.0,5001-10000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
75658,10598,45.0,1001-5000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
75659,76657,13.0,10001-50000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
75660,11204,82.0,1001-5000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [179]:
#df_encoded = df_encoded.drop(df_encoded[filter_zones_A], axis=1)
#df_encoded = df_encoded.drop(df_encoded[filter_zones_V], axis=1)
df_encoded.columns.tolist()
df_encoded.rename(columns={"Zone A": "floodzone_A", "Zone V": "floodzone_V"})

,reportedzipcode,propertyage,Payoff_Bin,floodzone_B,floodzone_C,floodzone_D,floodzone_X,lossmonth_1.0,lossmonth_2.0,lossmonth_3.0,...,state_UT,state_VA,state_VI,state_VT,state_WA,state_WI,state_WV,state_WY,floodzone_A,floodzone_V
0,2650,60.0,1001-5000,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
1,78130,12.0,1001-5000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,78132,17.0,50000+,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,78130,13.0,50000+,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,78130,32.0,10001-50000,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75648,29356,50.0,10001-50000,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
75649,29127,56.0,10001-50000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
75652,29510,10.0,50000+,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
75654,31906,42.0,5001-10000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
75658,10598,45.0,1001-5000,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [180]:
#  #df_encoded_withrain = df_encoded.copy()


df_encoded["rolling_7days_obs"] = original_df["rolling_7days_obs"]
indexNames = df_encoded[df_encoded['rolling_7days_obs'] < 0.5].index
 
#  # Delete these row indexes from dataFrame
df_encoded.drop(indexNames , inplace=True)

df_encoded.rolling_7days_obs.min()

0.5

In [168]:
df_encoded

,reportedzipcode,propertyage,Payoff_Bin,floodzone_B,floodzone_C,floodzone_D,floodzone_X,lossmonth_1.0,lossmonth_2.0,lossmonth_3.0,...,state_VA,state_VI,state_VT,state_WA,state_WI,state_WV,state_WY,Zone A,Zone V,rolling_7days_obs
0,2650,60.0,1001-5000,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,1.68
1,78130,12.0,1001-5000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,22.08
3,78132,17.0,50000+,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,22.08
5,78130,13.0,50000+,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,22.08
6,78130,32.0,10001-50000,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,22.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75648,29356,50.0,10001-50000,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,6.46
75649,29127,56.0,10001-50000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,14.58
75652,29510,10.0,50000+,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,49.13
75654,31906,42.0,5001-10000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,14.15
75658,10598,45.0,1001-5000,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,12.05

In [187]:
df_encoded = df_encoded.drop("rolling_7days_obs", axis=1)

In [14]:
from sklearn import tree

In [188]:
y =df_encoded.copy()
X =df_encoded.copy()
X = X.drop("Payoff_Bin", axis=1)

# Split the X and y into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,
                                                   y['Payoff_Bin'],
                                                   random_state=1)

# Train the Classifier

from sklearn.linear_model import LinearRegression


#random forest, neural networks with linear regression
model = tree.DecisionTreeClassifier() 
model.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [189]:
# Calculating the accuracy score.
predictions = model.predict(X_test)
acc_score = accuracy_score(y_test, predictions)
acc_score


#unscaled acc score = 0.3499

0.38263252547743426

In [144]:
bins = df_encoded.groupby('Payoff_Bin')

In [145]:
df_under100 = bins.get_group('0-100') 
df_under100

,reportedzipcode,propertyage,Payoff_Bin,floodzone_B,floodzone_C,floodzone_D,floodzone_X,lossmonth_1.0,lossmonth_2.0,lossmonth_3.0,...,state_UT,state_VA,state_VI,state_VT,state_WA,state_WI,state_WV,state_WY,Zone A,Zone V
40,36549,24.0,0-100,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88,32507,7.0,0-100,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
100,36561,24.0,0-100,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1457,77027,43.0,0-100,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3086,77096,53.0,0-100,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71143,729,36.0,0-100,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
73102,77075,38.0,0-100,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
74056,78041,49.0,0-100,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
74624,73533,31.0,0-100,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
75366,53080,88.0,0-100,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0

In [146]:
df_under5K = bins.get_group('101-5000') 
df_under5K

,reportedzipcode,propertyage,Payoff_Bin,floodzone_B,floodzone_C,floodzone_D,floodzone_X,lossmonth_1.0,lossmonth_2.0,lossmonth_3.0,...,state_UT,state_VA,state_VI,state_VT,state_WA,state_WI,state_WV,state_WY,Zone A,Zone V
0,2650,60.0,101-5000,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
1,78130,12.0,101-5000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
9,78130,35.0,101-5000,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,78130,17.0,101-5000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
29,78130,13.0,101-5000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75609,19904,54.0,101-5000,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
75616,70001,63.0,101-5000,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
75631,78542,18.0,101-5000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
75647,29582,17.0,101-5000,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
75658,10598,45.0,101-5000,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [107]:
df_under100.sort_values(by=['rolling_7days_obs'], inplace=True)

C:\Users\patel\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [112]:
test = df_under100.sort_values('rolling_7days_obs', ascending=True)

In [113]:
test

,reportedzipcode,propertyage,Payoff_Bin,floodzone_B,floodzone_C,floodzone_D,floodzone_X,lossmonth_1.0,lossmonth_2.0,lossmonth_3.0,...,state_VA,state_VI,state_VT,state_WA,state_WI,state_WV,state_WY,Zone A,Zone V,rolling_7days_obs
7967,59729,12.0,0-100,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0.50
19266,83404,14.0,0-100,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0.50
48806,78332,33.0,0-100,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0.50
36134,2066,40.0,0-100,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0.50
57723,31501,44.0,0-100,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57939,29150,42.0,0-100,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,57.48
57937,29150,9.0,0-100,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,57.48
55962,29056,51.0,0-100,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,60.34
55963,29056,51.0,0-100,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,60.34
47392,29526,15.0,0-100,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,60.66

In [190]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [191]:

# Creating the decision tree classifier instance.
model = tree.DecisionTreeClassifier()
# Fitting the model.
model = model.fit(X_train_scaled, y_train)

In [192]:
# Making predictions using the testing data.
predictions = model.predict(X_test_scaled)
acc_score = accuracy_score(y_test, predictions)
acc_score

0.38263252547743426

In [200]:
import pickle
pickle.dump(model, open('payout_range_model.pkl','wb'))

model = pickle.load(open('payout_range_model.pkl','rb'))

In [198]:
print(model.predict([[3.0,
 1.68,
 60.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0]]))

['1001-5000']

In [194]:
df_encoded.columns.to_list()

['reportedzipcode',
 'propertyage',
 'Payoff_Bin',
 'floodzone_B',
 'floodzone_C',
 'floodzone_D',
 'floodzone_X',
 'lossmonth_1.0',
 'lossmonth_2.0',
 'lossmonth_3.0',
 'lossmonth_4.0',
 'lossmonth_5.0',
 'lossmonth_6.0',
 'lossmonth_7.0',
 'lossmonth_8.0',
 'lossmonth_9.0',
 'lossmonth_10.0',
 'lossmonth_11.0',
 'lossmonth_12.0',
 'occupancytype_1',
 'occupancytype_2',
 'occupancytype_3',
 'occupancytype_4',
 'occupancytype_6',
 'state_AK',
 'state_AL',
 'state_AR',
 'state_AZ',
 'state_CA',
 'state_CO',
 'state_CT',
 'state_DC',
 'state_DE',
 'state_FL',
 'state_GA',
 'state_GU',
 'state_HI',
 'state_IA',
 'state_ID',
 'state_IL',
 'state_IN',
 'state_KS',
 'state_KY',
 'state_LA',
 'state_MA',
 'state_MD',
 'state_ME',
 'state_MI',
 'state_MN',
 'state_MO',
 'state_MS',
 'state_MT',
 'state_NC',
 'state_ND',
 'state_NE',
 'state_NH',
 'state_NJ',
 'state_NM',
 'state_NV',
 'state_NY',
 'state_OH',
 'state_OK',
 'state_OR',
 'state_PA',
 'state_PR',
 'state_RI',
 'state_SC',
 'state_SD',
 'state_TN',
 'state_TX',
 'state_UT',
 'state_VA',
 'state_VI',
 'state_VT',
 'state_WA',
 'state_WI',
 'state_WV',
 'state_WY',
 'Zone A',
 'Zone V']

In [38]:
# # Import the model we are using
# from sklearn.ensemble import RandomForestRegressor
# # Instantiate model with 1000 decision trees
# rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
# # Train the model on training data
# rf.fit(train_features, train_labels);

In [160]:
y =df_encoded.copy()
X =df_encoded.copy()
X = X.drop("Payoff_Bin", axis=1)

# Split the X and y into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,
                                                   y['Payoff_Bin'],
                                                   random_state=1)

# Import the model we are using
from sklearn.ensemble import RandomForestRegressor

#random forest
model = RandomForestRegressor(random_state = 42)
model.fit(X_train, y_train)

C:\Users\patel\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

ValueError: could not convert string to float: '5001-10000'

In [29]:
# Calculating the accuracy score.
predictions = model.predict(X_test)
acc_score = accuracy_score(y_test, predictions)
acc_score


#unscaled acc score = 0.3499

ValueError: continuous is not supported

In [ ]:
#==

In [41]:
df["amountspaid"] = original_df["amountpaidonbuildingclaim"]
df

#df_over50K = df.copy()

,floodzone,occupancytype,state,reportedzipcode,lossmonth,propertyage,Payoff_Bin,amountspaid
0,AE,1,MA,2650,2.0,60.0,1001-5000,2618.18
1,AE,1,TX,78130,10.0,12.0,1001-5000,3309.59
2,AE,1,TX,78130,10.0,12.0,0-1000,0.00
3,C,1,TX,78132,10.0,17.0,50000+,67301.33
4,C,3,TX,78130,10.0,20.0,0-1000,0.00
...,...,...,...,...,...,...,...,...
75656,A,1,NY,13646,4.0,38.0,0-1000,0.00
75657,A05,1,NY,11692,1.0,94.0,0-1000,0.00
75658,X,1,NY,10598,6.0,45.0,1001-5000,3198.97
75659,X,1,TX,76657,10.0,13.0,10001-50000,12654.47
75660,X,2,NY,11204,3.0,82.0,1001-5000,4022.79

In [43]:
# indexNames = df[df['rolling_7days_obs'] < 0.5].index
 
# # Delete these row indexes from dataFrame
# df.drop(indexNames , inplace=True)

# df.sort_values(by=['rolling_7days_obs'], inplace=True)
# df.rolling_7days_obs.hist()

# len(indexNames)

In [44]:
under1000 = df[df['amountspaid'] < 1000 ].index
under1000 = df[df['amountspaid'] < 1000 ].index
len(under1000)

22842

In [48]:
df.amountspaid.min()

0.0

In [51]:
df.amountspaid.max()

2250779.06

In [77]:
len(df[df['amountspaid'] > 200000 ].index)

905

In [55]:
df.sort_values('amountspaid', ascending=False)

,floodzone,occupancytype,state,reportedzipcode,lossmonth,propertyage,Payoff_Bin,amountspaid
2764,X,3,TX,77056,5.0,35.0,50000+,2250779.06
36745,X,3,FL,32550,4.0,20.0,50000+,1649712.01
2209,X,3,TX,77096,5.0,43.0,50000+,1152901.51
40643,X,3,FL,33160,6.0,7.0,50000+,1070279.35
2208,X,3,TX,77096,5.0,43.0,50000+,1017800.98
...,...,...,...,...,...,...,...,...
58502,X,1,MI,48323,6.0,49.0,0-1000,0.00
29325,A,1,NY,13357,6.0,83.0,0-1000,0.00
58499,X,4,OH,43231,7.0,39.0,0-1000,0.00
58498,AE,1,OH,43607,6.0,59.0,0-1000,0.00
61515,A03,1,NY,14081,4.0,69.0,0-1000,0.00

In [ ]:
bins = df.groupby('Payoff_Bin')

In [ ]:
bins = df.groupby('Payoff_Bin')

In [ ]:
bins.get_group('0-1000')

In [ ]:
bins.get_group('1001-5000')

In [ ]:
bins.get_group('5001-10000')

In [ ]:
bins.get_group('10001-50000')

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
len(df.amountspaid.unique())

In [ ]:
#pd.value_counts(df['amountspaid']).plot.bar()

In [ ]:
df["amountspaid"].hist()

In [ ]:
unpaid = df[df['amountspaid'] <= 0.00 ].index

len(unpaid)

In [ ]:
9786-8557

1229/9786

In [ ]:
indexNames = df[df['amountspaid'] <=0.00 ].index
 
# Delete these row indexes from dataFrame
df.drop(indexNames , inplace=True)

df

In [ ]:
df = original_df

df_under2K = df[df["amountspaid"]<2000.00]

df_under2K

In [ ]:
df["amountspaid"].hist()

In [ ]:
bins = df.groupby('Payoff_Bin') 
df_under1K = bins.get_group('0-1000')

In [ ]:
df_under1K.amountspaid.min()

In [ ]:
df_under1K.sort_values(by=['amountspaid'], inplace=True)

df_under1K

In [ ]:
df_under1K.amountspaid.hist()

In [ ]:
#df = df_encoded.copy()
df_encoded = pd.get_dummies(df_under1K, columns=["floodzone", "lossmonth", "occupancytype", "state"])
df_encoded

In [ ]:
#combining common floodzones

df = df_encoded.copy()

filter_zones_A = [col for col in df if col.startswith('floodzone_A')]
filter_zones_V = [col for col in df if col.startswith('floodzone_V')]

df["Zone A"] = df[filter_zones_A].sum(axis = 1, skipna = True)
df["Zone V"] = df[filter_zones_V].sum(axis = 1, skipna = True) 

df.rename(columns={"Zone A": "floodzone_A", "Zone V": "floodzone_V"})

df = df.drop(df[filter_zones_A], axis=1)
df = df.drop(df[filter_zones_V], axis=1)

In [ ]:
df_encoded = df_encoded.drop("Payoff_Bin", axis=1)

df_encoded

In [ ]:
y =df_encoded.copy()
X =df_encoded.copy()
X = X.drop("amountspaid", axis=1)

# Split the X and y into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,
                                                   y['amountspaid'],
                                                   random_state=1)

# Train the Classifier

from sklearn.linear_model import LinearRegression


#random forest, neural networks with linear regression
model = LinearRegression() 
model.fit(X_train, y_train)

In [ ]:
X_train.head()

In [ ]:
y_train.head()

In [ ]:
from sklearn.metrics import r2_score, mean_squared_error

In [ ]:
r2_score(y_test, y_pred)

In [ ]:

mean_squared_error(y_test, y_pred)

In [ ]:
y_pred = model.predict(X_test)

score_paid= model.score(X_test, y_test)
print (score_paid)


import numpy as np
df_paidpred = pd.DataFrame({'Actual Payoffs': y_test, 'Predicted Payoffs': y_pred})
df_paidpred

In [ ]:
y_pred.shape

In [ ]:
y_test.shape

In [ ]:
X_test.shape