In [4]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import pandas as pd
from pathlib import Path
#import tensorflow as tf

# Import our input dataset
data = Path('../openFEMA_claims20190831.csv')
FEMA_df = pd.read_csv(data)
FEMA_df.head()

FileNotFoundError: [Errno 2] File b'../openFEMA_claims20190831.csv' does not exist: b'../openFEMA_claims20190831.csv'

In [8]:
FEMA_Clean_df=FEMA_df.drop(columns=["policycount","countycode","crsdiscount","condominiumindicator","agriculturestructureindicator",
                                    "basementenclosurecrawlspacetype",'asofdate',"amountpaidoncontentsclaim","obstructiontype",
                      'basefloodelevation',"elevationcertificateindicator","elevatedbuildingindicator","censustract",
                      "houseworship","locationofcontents","lowestadjacentgrade","postfirmconstructionindicator","yearofloss",
                      "lowestfloorelevation","nonprofitindicator","originalnbdate","amountpaidonincreasedcostofcomplianceclaim",
                      "smallbusinessindicatorbuilding","primaryresidence","ratemethod","totalbuildinginsurancecoverage","totalcontentsinsurancecoverage"])
FEMA_Clean_df.head(10)

,reportedcity,dateofloss,elevationdifference,floodzone,latitude,longitude,numberoffloorsintheinsuredbuilding,occupancytype,originalconstructiondate,amountpaidonbuildingclaim,state,reportedzipcode
0,OCEANSIDE,1998-02-07,999.0,X,33.2,-117.3,4.0,1.0,1963-01-01,0.00,CA,92056
1,NEW ORLEANS,2005-08-29,999.0,X,29.9,-90.0,2.0,1.0,1967-07-01,0.00,LA,70131
2,NAVARRE,1998-09-28,999.0,X,30.4,-86.9,1.0,1.0,1972-01-01,8813.21,FL,32566
3,BEAUFORT,1994-10-07,999.0,X,32.4,-80.7,2.0,1.0,1960-01-01,2906.00,SC,29902
4,MELBOURNE,1996-03-11,999.0,X,28.3,-80.7,1.0,1.0,1988-01-01,3875.53,FL,32940
5,VIRGINIA BEACH,1998-02-03,999.0,AE,36.9,-76.0,1.0,1.0,1970-01-01,14985.92,VA,23451
6,HOUSTON,2017-08-27,999.0,X,29.7,-95.5,1.0,1.0,1974-01-01,195857.43,TX,77096
7,WAIANAE,1992-09-11,999.0,VE,21.4,-158.2,2.0,1.0,1974-07-31,0.00,HI,96792
8,MARATHON,1998-09-28,999.0,AE,24.7,-81.1,2.0,3.0,1973-01-01,2389.00,FL,33050
9,CARMEL,1995-03-11,999.0,AE,36.5,-121.9,1.0,1.0,1957-01-01,12737.86,CA,93923

In [9]:
FEMA_Clean_df.shape

(2432888, 12)

In [10]:
FEMA_Clean_df.dtypes

reportedcity                           object
dateofloss                             object
elevationdifference                   float64
floodzone                              object
latitude                              float64
longitude                             float64
numberoffloorsintheinsuredbuilding    float64
occupancytype                         float64
originalconstructiondate               object
amountpaidonbuildingclaim             float64
state                                  object
reportedzipcode                        object
dtype: object

In [11]:
#Remove all Data that don’t have an City defined.
FEMA_Clean1_df=FEMA_Clean_df[FEMA_Clean_df["reportedcity"] != "N/A"]
FEMA_Clean1_df.dropna(subset=['reportedcity'], how='all', inplace=True)
print(FEMA_Clean1_df.shape)

FEMA_Clean2_df=FEMA_Clean1_df[FEMA_Clean1_df["amountpaidonbuildingclaim"] != "N/A"]
FEMA_Clean2_df.dropna(subset=['amountpaidonbuildingclaim'], how='all', inplace=True)
print(FEMA_Clean2_df.shape)

FEMA_Clean3_df=FEMA_Clean2_df[FEMA_Clean2_df["originalconstructiondate"] != "N/A"]
FEMA_Clean3_df.dropna(subset=['originalconstructiondate'], how='all', inplace=True)
print(FEMA_Clean3_df.shape)

FEMA_Clean4_df=FEMA_Clean3_df[FEMA_Clean3_df["floodzone"] != "N/A"]
FEMA_Clean4_df.dropna(subset=['floodzone'], how='all', inplace=True)
print(FEMA_Clean4_df.shape)

FEMA_Clean5_df=FEMA_Clean4_df[FEMA_Clean4_df["occupancytype"] != "N/A"]
FEMA_Clean5_df.dropna(subset=['occupancytype'], how='all', inplace=True)
print(FEMA_Clean5_df.shape)

FEMA_Clean6_df=FEMA_Clean5_df[FEMA_Clean5_df["numberoffloorsintheinsuredbuilding"] != "N/A"]
FEMA_Clean6_df.dropna(subset=['numberoffloorsintheinsuredbuilding'], how='all', inplace=True)
print(FEMA_Clean6_df.shape)

FEMA_Clean7_df=FEMA_Clean6_df[FEMA_Clean6_df["latitude"] != "N/A"]
FEMA_Clean7_df.dropna(subset=['latitude'], how='all', inplace=True)
print(FEMA_Clean7_df.shape)

FEMA_Clean8_df=FEMA_Clean7_df[FEMA_Clean7_df["occupancytype"] != "N/A"]
FEMA_Clean8_df.dropna(subset=['longitude'], how='all', inplace=True)
print(FEMA_Clean8_df.shape)

FEMA_Clean9_df=FEMA_Clean8_df[FEMA_Clean8_df["dateofloss"] != "N/A"]
FEMA_Clean9_df.dropna(subset=['dateofloss'], how='all', inplace=True)
print(FEMA_Clean9_df.shape)

FEMA_Clean10_df=FEMA_Clean9_df[FEMA_Clean9_df["reportedzipcode"] != "N/A"]
FEMA_Clean10_df.dropna(subset=['reportedzipcode'], how='all', inplace=True)
print(FEMA_Clean10_df.shape)

FEMA_Clean11_df=FEMA_Clean10_df[FEMA_Clean10_df["reportedzipcode"] != "N/A"]
FEMA_Clean11_df.dropna(subset=['reportedzipcode'], how='all', inplace=True)
print(FEMA_Clean11_df.shape)

FEMA_Clean12_df=FEMA_Clean11_df[FEMA_Clean11_df["elevationdifference"] != "N/A"]
FEMA_Clean12_df.dropna(subset=['elevationdifference'], how='all', inplace=True)
print(FEMA_Clean12_df.shape)

FEMA_Clean13_df=FEMA_Clean12_df[FEMA_Clean12_df["state"] != "N/A"]
FEMA_Clean13_df.dropna(subset=['state'], how='all', inplace=True)
print(FEMA_Clean13_df.shape)

FEMA_Clean13_df.head(5)

# Drop rows with any empty cells
# FEMA_Clean_df=FEMA_Clean_df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

(2428382, 12)

C:\Users\patel\Anaconda3\envs\mlenv\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

(2355202, 12)
(2021408, 12)
(2001194, 12)
(2001175, 12)
(2001173, 12)
(1986473, 12)
(1986473, 12)
(1986473, 12)
(1986351, 12)
(1986351, 12)
(1986351, 12)
(1986351, 12)

,reportedcity,dateofloss,elevationdifference,floodzone,latitude,longitude,numberoffloorsintheinsuredbuilding,occupancytype,originalconstructiondate,amountpaidonbuildingclaim,state,reportedzipcode
0,OCEANSIDE,1998-02-07,999.0,X,33.2,-117.3,4.0,1.0,1963-01-01,0.00,CA,92056
1,NEW ORLEANS,2005-08-29,999.0,X,29.9,-90.0,2.0,1.0,1967-07-01,0.00,LA,70131
2,NAVARRE,1998-09-28,999.0,X,30.4,-86.9,1.0,1.0,1972-01-01,8813.21,FL,32566
3,BEAUFORT,1994-10-07,999.0,X,32.4,-80.7,2.0,1.0,1960-01-01,2906.00,SC,29902
4,MELBOURNE,1996-03-11,999.0,X,28.3,-80.7,1.0,1.0,1988-01-01,3875.53,FL,32940

In [12]:
# Drop rows with any empty cells, check
FEMA_Clean14_df=FEMA_Clean13_df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
print(FEMA_Clean14_df.shape)
FEMA_Clean14_df

(1986351, 12)

,reportedcity,dateofloss,elevationdifference,floodzone,latitude,longitude,numberoffloorsintheinsuredbuilding,occupancytype,originalconstructiondate,amountpaidonbuildingclaim,state,reportedzipcode
0,OCEANSIDE,1998-02-07,999.0,X,33.2,-117.3,4.0,1.0,1963-01-01,0.00,CA,92056
1,NEW ORLEANS,2005-08-29,999.0,X,29.9,-90.0,2.0,1.0,1967-07-01,0.00,LA,70131
2,NAVARRE,1998-09-28,999.0,X,30.4,-86.9,1.0,1.0,1972-01-01,8813.21,FL,32566
3,BEAUFORT,1994-10-07,999.0,X,32.4,-80.7,2.0,1.0,1960-01-01,2906.00,SC,29902
4,MELBOURNE,1996-03-11,999.0,X,28.3,-80.7,1.0,1.0,1988-01-01,3875.53,FL,32940
...,...,...,...,...,...,...,...,...,...,...,...,...
2432883,MIAMI,2005-08-26,1.0,AHB,25.6,-80.4,1.0,1.0,1985-01-01,4390.96,FL,33177
2432884,MIAMI,2005-08-25,1.0,AHB,25.6,-80.4,1.0,1.0,1990-01-01,3541.59,FL,33186
2432885,PINECREST,2005-06-20,-1.0,AE,25.7,-80.3,1.0,1.0,1959-01-01,8335.35,FL,33156
2432886,PINECREST,2005-08-25,999.0,AE,25.7,-80.3,1.0,1.0,1959-01-01,2396.44,FL,33156
2432887,MIAMI,2005-08-25,0.0,AHB,25.6,-80.4,1.0,1.0,1953-01-01,17900.00,FL,33177

In [13]:
FEMA_Clean14_df.dtypes

reportedcity                           object
dateofloss                             object
elevationdifference                   float64
floodzone                              object
latitude                              float64
longitude                             float64
numberoffloorsintheinsuredbuilding    float64
occupancytype                         float64
originalconstructiondate               object
amountpaidonbuildingclaim             float64
state                                  object
reportedzipcode                        object
dtype: object

In [14]:
#convert dateofloss type to datetime
FEMA_Clean14_df['dateofloss'] =  pd.to_datetime(FEMA_Clean14_df['dateofloss'], format='%Y-%m-%d')
FEMA_Clean14_df.dtypes

reportedcity                                  object
dateofloss                            datetime64[ns]
elevationdifference                          float64
floodzone                                     object
latitude                                     float64
longitude                                    float64
numberoffloorsintheinsuredbuilding           float64
occupancytype                                float64
originalconstructiondate                      object
amountpaidonbuildingclaim                    float64
state                                         object
reportedzipcode                               object
dtype: object

In [15]:
#Identify which row makes error on originalconstructiondate and doesnt let to change the type to date
FEMA_Clean14_df['originalconstructiondate'] =  pd.to_datetime(FEMA_Clean14_df['originalconstructiondate'], errors='coerce')
FEMA_Clean14_df.sort_values('originalconstructiondate')

,reportedcity,dateofloss,elevationdifference,floodzone,latitude,longitude,numberoffloorsintheinsuredbuilding,occupancytype,originalconstructiondate,amountpaidonbuildingclaim,state,reportedzipcode
180884,CHARLESTON,2015-10-05,-9.0,AE,32.8,-79.9,3.0,1.0,1860-01-01,20346.88,SC,29401
1240464,CHARLESTON,2016-10-08,999.0,AE,32.8,-79.9,3.0,6.0,1876-07-01,36988.33,SC,29401
1717766,SAVANNAH,1999-09-15,999.0,X,32.1,-81.1,3.0,1.0,1880-01-01,2387.46,GA,31401
1721816,MANDEVILLE,2002-09-26,999.0,AE,30.4,-90.1,2.0,1.0,1888-12-31,2803.92,LA,70448
196601,WAHPETON,1997-04-10,999.0,X,46.3,-96.6,1.0,1.0,1891-07-01,1642.58,ND,58075
...,...,...,...,...,...,...,...,...,...,...,...,...
518034,MONT BELVIEU,2019-05-09,999.0,X,29.8,-94.8,2.0,1.0,2019-01-01,50839.66,TX,77523
334993,SAINT CHARLES,2019-06-07,999.0,X,38.9,-90.5,2.0,1.0,2019-02-01,944.65,MO,63301
1064006,ORANGE,2019-05-09,999.0,C,30.2,-93.9,1.0,4.0,2019-02-01,49295.16,TX,77632
1129528,MINNEAPOLIS,2019-04-26,999.0,X,45.1,-93.4,2.0,1.0,2019-03-13,0.00,MN,55445
549916,NAGS HEAD,1993-03-13,1.0,A05,35.9,-75.6,1.0,1.0,NaT,10541.57,NC,27959

In [16]:
#Remove the row in originalconstructiondate that causes error
FEMA_Clean14_df=FEMA_Clean14_df.drop(549916)

In [17]:
FEMA_Clean14_df['originalconstructiondate'] =  pd.to_datetime(FEMA_Clean14_df['originalconstructiondate'], format='%Y-%m-%d', errors='ignore')
FEMA_Clean14_df.dtypes

reportedcity                                  object
dateofloss                            datetime64[ns]
elevationdifference                          float64
floodzone                                     object
latitude                                     float64
longitude                                    float64
numberoffloorsintheinsuredbuilding           float64
occupancytype                                float64
originalconstructiondate              datetime64[ns]
amountpaidonbuildingclaim                    float64
state                                         object
reportedzipcode                               object
dtype: object

In [18]:
# FEMA_Clean15=FEMA_Clean14_df.originalconstructiondate.apply(type)
# FEMA_Clean15_df= pd.DataFrame(FEMA_Clean15)
# FEMA_Clean15_df["originalconstructiondate"].unique()

In [19]:
# FEMA_Clean14_df[FEMA_Clean14_df['originalconstructiondate'].str.contains(" ")]

In [20]:
# FEMA_Clean14_df['originalconstructiondate'].apply(len)

In [21]:
# FEMA_Clean14_df['originalconstructiondate'].value_counts()

In [22]:
# try:
#     print(FEMA_Clean14_df[FEMA_Clean14_df['originalconstructiondate'].str.len() > 10]['originalconstructiondate'])
# except TypeError:
#     print (TypeError)

In [23]:
# FEMA_Clean14_df

In [24]:
# import datetime as dt
# #from pandas.tslib import OutOfBoundsDatetime
# try:
#     FEMA_Clean14_df['originalconstructiondate'] = FEMA_Clean14_df['originalconstructiondate'].str[:10]
#     FEMA_Clean14_df['originalconstructiondate'] =  pd.to_datetime(FEMA_Clean14_df['originalconstructiondate'], format='%Y-%m-%d', errors='ignore')
# except:
#     print("Error")
#     raise

In [25]:
import matplotlib.pyplot as plt

#x = FEMA_Clean14_df["dateofloss"]

#y = FEMA_Clean14_df["amountpaidonbuildingclaim"]


#plt.plot(x,y)

#y.min()

#y_paidcnt = y["amountpaidonbuildingclaim">0].count()

#y_paidFEMA = (y<0).count()
#y_paidFEMA
#y_paidcnt
#y_zero = (y=0).count()

TypeError: '>' not supported between instances of 'str' and 'int'

In [108]:
# Create our features
df = FEMA_Clean14_df.copy()
df = df.drop("reportedzipcode", axis=1)
df = df.drop("state", axis=1)
#df = df.drop("floodzone", axis=1)
df = df.drop("dateofloss", axis=1)
df = df.drop("originalconstructiondate", axis=1)
df = df.drop("reportedcity", axis=1)
df = df.drop("latitude", axis=1)
df = df.drop("longitude", axis=1)
FEMA_encoded = pd.get_dummies(df, columns=["floodzone", "occupancytype"])#, "reportedzipcode"])
X = FEMA_encoded.copy()
X = X.drop("amountpaidonbuildingclaim", axis=1)

# Create our target
y =FEMA_encoded.copy()

In [109]:
y.dtypes

elevationdifference                   float64
numberoffloorsintheinsuredbuilding    float64
amountpaidonbuildingclaim             float64
floodzone_000                           uint8
floodzone_A                             uint8
                                       ...
occupancytype_1.0                       uint8
occupancytype_2.0                       uint8
occupancytype_3.0                       uint8
occupancytype_4.0                       uint8
occupancytype_6.0                       uint8
Length: 86, dtype: object

In [110]:
# Check the balance of our target values
y['amountpaidonbuildingclaim'].value_counts()

0.00         475802
250000.00     14517
50000.00       5839
100000.00      5416
75000.00       4556
              ...
121451.20         1
23011.11          1
32516.54          1
43354.48          1
3193.37           1
Name: amountpaidonbuildingclaim, Length: 1095526, dtype: int64

In [111]:
# Split the X and y into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,
                                                   y['amountpaidonbuildingclaim'],
                                                   random_state=1)

In [112]:
X.loc[1489762]

elevationdifference                   2.0
numberoffloorsintheinsuredbuilding    1.0
floodzone_000                         0.0
floodzone_A                           0.0
floodzone_A--                         0.0
                                     ...
occupancytype_1.0                     1.0
occupancytype_2.0                     0.0
occupancytype_3.0                     0.0
occupancytype_4.0                     0.0
occupancytype_6.0                     0.0
Name: 1489762, Length: 85, dtype: float64

In [113]:
X_train.shape

(1489762, 85)

In [114]:
y_train

777474      4283.70
539511      6809.00
439898         0.00
922747      6484.07
200467     55452.42
             ...
503291     44382.06
2280269     4596.21
482372     14461.40
503801      6758.58
130513      2823.85
Name: amountpaidonbuildingclaim, Length: 1489762, dtype: float64

In [115]:
FEMA_Clean14_df.shape

(1986350, 12)

In [116]:
from sklearn import preprocessing
from sklearn import utils

lab_enc = preprocessing.LabelEncoder()
#X_train_encoded = lab_enc.fit_transform(X_train)

print(utils.multiclass.type_of_target(y_train))
print(utils.multiclass.type_of_target(X_train))
#print(utils.multiclass.type_of_target(X_train_encoded))

continuous
multiclass-multioutput

In [117]:
# Train the Classifier

#from imblearn.over_sampling import RandomOverSampler
#ros = RandomOverSampler(random_state=1)
#X_resampled, y_resampled = ros.fit_resample(X_train, y_train)

#from sklearn.linear_model import LogisticRegression
#classifier = LogisticRegression(solver='lbfgs', random_state=1)
#classifier

#classifier.fit(X_train, y_train)
from sklearn.linear_model import LinearRegression

#random forest, neural networks with linear regression
model = LinearRegression() 
model.fit(X_train, y_train)

#from imblearn.ensemble import EasyEnsembleClassifier
#model = EasyEnsembleClassifier(random_state=1)
#model.fit(X_resampled, y_resampled)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [118]:
model.score(X_test, y_test)

0.030635048069708626

In [107]:
X_test.columns

Index(['elevationdifference', 'latitude', 'longitude',
       'numberoffloorsintheinsuredbuilding', 'floodzone_000', 'floodzone_A',
       'floodzone_A--', 'floodzone_A00', 'floodzone_A01', 'floodzone_A02',
       'floodzone_A03', 'floodzone_A04', 'floodzone_A05', 'floodzone_A06',
       'floodzone_A07', 'floodzone_A08', 'floodzone_A09', 'floodzone_A0B',
       'floodzone_A10', 'floodzone_A11', 'floodzone_A12', 'floodzone_A13',
       'floodzone_A14', 'floodzone_A15', 'floodzone_A16', 'floodzone_A17',
       'floodzone_A18', 'floodzone_A19', 'floodzone_A20', 'floodzone_A21',
       'floodzone_A22', 'floodzone_A23', 'floodzone_A24', 'floodzone_A25',
       'floodzone_A26', 'floodzone_A27', 'floodzone_A28', 'floodzone_A29',
       'floodzone_A30', 'floodzone_A4', 'floodzone_A99', 'floodzone_AA',
       'floodzone_AE', 'floodzone_AH', 'floodzone_AHB', 'floodzone_AO',
       'floodzone_AO5', 'floodzone_AOB', 'floodzone_AR', 'floodzone_B',
       'floodzone_C', 'floodzone_D', 'floodzone_OOO', 'floodzone_V',
       'floodzone_V01', 'floodzone_V02', 'floodzone_V03', 'floodzone_V04',
       'floodzone_V05', 'floodzone_V06', 'floodzone_V07', 'floodzone_V08',
       'floodzone_V09', 'floodzone_V10', 'floodzone_V11', 'floodzone_V12',
       'floodzone_V13', 'floodzone_V14', 'floodzone_V15', 'floodzone_V16',
       'floodzone_V17', 'floodzone_V18', 'floodzone_V19', 'floodzone_V20',
       'floodzone_V21', 'floodzone_V22', 'floodzone_V23', 'floodzone_V24',
       'floodzone_V27', 'floodzone_V30', 'floodzone_VE', 'floodzone_X',
       'occupancytype_1.0', 'occupancytype_2.0', 'occupancytype_3.0',
       'occupancytype_4.0', 'occupancytype_6.0'],
      dtype='object')